# Temporary files directory
tmp_files/
*.log
*.error.log
error.txt

last_input_folder.json
ffmpeg_settings.json
ffmpeg_ui.error.log
ffmpeg_ui.log

/build
/bundled_deps
/dist
/build_nuitka
/ffmpeg_web_bundle
